:root {
  --primary-color: #409EFF;
  --primary-tint-color: #66b1ff; // 20%;
  --primary-tint-color-9: #ecf5ff; // 90%;
  --primary-shade-color: #3a8ee6; // 10%;
  --primary-disabled-color: #a0cfff; // 50%;
}

@import "common/transition";
@import "icon.css";
