@use "mixins/mixins";
@use "mixins/utils";
@use "common/var";

@include mixins.b(breadcrumb) {
  font-size: 14px;
  line-height: 1;
  @include utils.utils-clearfix;

  @include mixins.e(separator) {
    margin: 0 4px;
    font-weight: bold;

    &[class*=icon] {
      margin: 0 6px;
      font-weight: normal;
    }
  }

  @include mixins.e(item) {
    float: left;

    @include mixins.e(inner) {
      &.is-link, & a {
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
      }
    }

    &:last-child {
      .el-breadcrumb__inner,
      .el-breadcrumb__inner a {
        &, &:hover {
          font-weight: normal;
          cursor: text;
        }
      }

      .el-breadcrumb__separator {
        display: none;
      }
    }
  }
}
