
@use 'mixins/mixins';
@use 'common/var';
// @import 'tooltip';
// @import 'pagination';
// @import 'btn';
// @import "perfect-scrollbar";

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

@include mixins.b(data) {
  height: 100%;

  @include mixins.m(auto-height) {
    height: auto;
  }

  @include mixins.e(searcher) {

    background: #fff;
    margin-bottom: var.$tabel-vertical-margin;
    padding: 8px;
    border-radius: 4px;
    padding-top: var.$tabel-vertical-margin * 0.5 + 8px;
    & > * {
      width: 220px;
      margin-right: 10px;
      margin-bottom: var.$tabel-vertical-margin * 0.5;
      vertical-align: middle;
    }
  }

  @include mixins.e(tools) {
    @include flex;
    padding: 6px 8px;
    background: #fff;
    margin-bottom: var.$tabel-vertical-margin;
    border-radius: 4px;

    &-left {
      flex-grow: 1;

      & > * {
        margin-left: 0 !important;
        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }

    &-right {
      width: 150px;
      flex-shrink: 0;
      text-align: right;
    }
  }

  @include mixins.e(query-item) {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    vertical-align: middle;
  }

  @include mixins.e(query-label) {
    font-size: 14px;
    color: #999;
    flex-shrink: 0;
    text-align: center;
    padding-right: 4px;
    box-sizing: border-box;
  }

  @include mixins.e(wrap) {
    background: #fff;
  }

  @include mixins.m(with-footer) {
    margin-bottom: var.$tabel-vertical-margin;
  }
}