@use 'mixins/mixins';
@use 'mixins/utils';
@use 'common/var';
@use 'common/popup';
// @import "perfect-scrollbar";

@include mixins.b(dialog) {
  position: relative;
  margin: 0 auto 50px;
  background: var.$dialog-background-color;
  border-radius: var.$border-radius-base;
  overflow: hidden;
  box-shadow: var.$dialog-box-shadow;
  box-sizing: border-box;
  width: 720px;
  max-height: 70vh;


  @include mixins.when(fullscreen) {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    max-height: 100vh;
    overflow: auto;

    & .el-dialog__body {
      height: calc(100vh - 90px);
      max-height: calc(100vh - 90px);
    }
  }

  @include mixins.e(wrapper) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 0;
  }

  @include mixins.e(header) {
    padding: var.$dialog-padding-primary;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    background-color: var(--primary-color, var.$color-primary);
  }

  @include mixins.e(headerbtn) {
    position: absolute;
    line-height: 1;
    top: (
      (var.$dialog-font-line-height + (var.$dialog-padding-primary * 2) - var.$message-close-size) * 0.5
    );
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: var.$message-close-size;
    color: var.$color-primary-light-9;

    i {
      vertical-align: top;
    }

    &:hover {
      color: var.$color-primary-light-5;
    }

    &-full {
      right: var.$dialog-padding-primary * 2 + 16px;
    }
    &-close {
      right: var.$dialog-padding-primary;
    }
  }

  @include mixins.e(title) {
    line-height: var.$dialog-font-line-height;
    font-size: var.$dialog-title-font-size;
    color: var.$color-primary-light-9;
  }

  @include mixins.e(body) {
    padding: (var.$dialog-padding-primary + 10px) var.$dialog-padding-primary;
    color: var.$color-text-regular;
    font-size: var.$dialog-content-font-size;
    word-break: break-all;
    box-sizing: border-box;
    overflow: auto;
    max-height: calc(70vh - 90px);
  }

  @include mixins.e(footer) {
    padding: var.$dialog-padding-primary;
    padding-top: 10px;
    text-align: right;
    box-sizing: border-box;
  }

  // 内容居中布局
  @include mixins.m(center) {
    text-align: center;

    @include mixins.e(body) {
      text-align: initial;
      padding: 25px (var.$dialog-padding-primary + 5px) 30px;
    }

    @include mixins.e(footer) {
      text-align: inherit;
    }
  }
}

.dialog-fade-enter-active {
  animation: dialog-fade-in 0.3s;
}

.dialog-fade-leave-active {
  animation: dialog-fade-out 0.3s;
}

@keyframes dialog-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes dialog-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}
