@use "mixins/mixins";

@include mixins.b(dnd) {
  border: 1px solid #ccc;
}


@include mixins.b(dnd-item) {


  &.dragging {
    box-shadow: 0 0 2px 10px #ccc;
  }

  &.hidden {
    visibility: hidden;
  }
}