// @import "table";
// @import "dialog";
// @import "input";
@use "common/var";

.el-table-select {
  display: inline-block;
  width: 100%;

  .el-input__inner {
    cursor: pointer;
    padding-right: 35px;

    &:focus {
      border-color: var(--primary-color, var.$color-primary);
    }
  }

  .el-input__icon {
    height: 100%;
    width: 25px;
    text-align: center;
  }

  &__dialog {

    th {
      background-color: #f9f9f9;
    }


    .el-dialog__body {
      padding: 0 8px;
    }

    .el-happy-table__searcher {
      padding: 0;
      padding-top: 6px;
      margin-bottom: 0;
    }
    .el-happy-table__tools {
      margin: 0;
      padding: 6px 0;
    }

    .el-happy-table--with-footer {
      margin-bottom: 0;
    }
  }
}
